<h2>ユーザー編集</h2>

<%= form_for(@user, :html => {:multipart => true} ) do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
  <div class="form-group">
    <label>
      <%= f.label :image_name, 'アイコン' %>
      <span class="filelabel" title="ファイルを選択">
         <img src="/images/camera-icon.png" width="30" height="30" alt="＋画像">
         選択
      </span>
      <input name="image" type="file" style="display: none">
    </label>
  </div>
  
  <div class="form-group">
    <%= f.label :name, 'ニックネーム' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :email, 'メールアドレス' %>
    <%= f.email_field :email, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :profile, 'プロフィール' %>
    <%= f.text_area :profile, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password, 'パスワード' %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, 'パスワード（確認）' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
  </div>

  <%= f.submit '更新', class: 'btn btn-primary btn-block' %>
<% end %>