<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>TennisLove!</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <% if controller.controller_name == 'toppages' && controller.action_name == 'index' %>
      <div class="top">
        <div class="top-content">
          <h1 class="catch">テニス好きあつまれ！</h1>
          <h2 class="catch-sub">仲間を見つけて一緒にテニスしたり語り合おう</h2>
          <% unless logged_in? %>
            <ul>
              <li class="btn btn-success btn-font"><%= link_to '会員登録', signup_path %></li>
              <li class="btn btn-success btn-font"><%= link_to 'ログイン', login_path %></li>
            </ul>
          <% end %>
        </div>
      </div>
    <% end %>

    <div class="container">
      <%= render 'layouts/flash_messages' %>

      <%= yield %>
    </div>
  </body>
</html>
